---
let interviews = [
  {
    type: "Artigo",
    title:
      "Geovisualização: Uma Abordagem Prática para Análise Espacial da COVID-19",
    description:
    "Os Sistemas de Informação Geográfica na Web (WebGISs) foram amplamente utilizados para monitorar casos e mortes por COVID-19 durante a pandemia. Além disso, as geotecnologias também foram muito úteis na educação, gestão pública, turismo e outras áreas. Embora existam WebGISs com um alto nível de sofisticação, a maioria é simples, consistindo em visualizadores geográficos de casos, mortes e vacinações",
    data: "04/03/2024",
    link: "https://www.mdpi.com/2673-7086/3/4/41",

    imagem: {
      type: "img",
      src: "https://www.mdpi.com/geographies/geographies-03-00041/article_deploy/html/images/geographies-03-00041-g001.png",
    },
    autor: "MDPI",
  },
  {
    type: "Artigo",
    title: "Uma revisão do vírus da dengue e seus vetores",
    description:
      "Os primeiros relatos de uma doença com prognósticos clínicos semelhantes à dengue são relatados na Enciclopédia Médica Chinesa da Dinastia Jin (265-420 d.C).",
    data: "23/01/2024",
    link: "https://rsdjournal.org/index.php/rsd/article/view/18733",
    imagem: {
      type: "img",
      src: "https://midias.em.com.br/_midias/png/2024/01/22/1200x720/1_dengue_bh-34521500.png?20240123151020?20240123151020",
    },
    autor: "RSD Journal",
  },
];
---

<section class="bg-white dark:bg-gray-900" id="entrevistas">
  <div
    class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 flex flex-col justify-between"
  >
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
      <h2
        class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
      Publicações científicas
      </h2>
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
        Lista de artigos relacionadas a epidemias.
      </p>
    </div>
    <div class="grid gap-8 lg:grid-cols-2">
      {
        interviews.map((entrevista) => {
          return (
            <article class="p-6 flex flex-col justify-between bg-gray-50 rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
              <div class="flex justify-between items-center mb-5 text-gray-500">
                <span class="bg-green-300 text-black text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded">
                  <svg
                    class="mr-1 w-3 h-3"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
                      clip-rule="evenodd"
                    />
                    <path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z" />
                  </svg>
                  {entrevista.type}
                </span>
                <span class="text-sm">{entrevista.data}</span>
              </div>
              <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                <a href={entrevista.link} target="_blank">
                  {entrevista.title}
                </a>
              </h2>
              <p class="mb-5 font-light text-gray-500 dark:text-gray-400">
                {entrevista.description}
              </p>

              <div class="flex justify-center items-center h-40  ">
                {entrevista.imagem.type === "iframe" ? (
                  <iframe
                    src={entrevista.imagem.src}
                    frameborder="0"
                    allowfullscreen
                    loading="lazy"
                  />
                ) : (
                  <img
                    class=" bg-primary "
                    width="250"
                    height="100"
                    src={entrevista.imagem.src}
                  />
                )}
              </div>

              <div class="flex justify-between items-center">
                <div class="flex items-center space-x-4">
                  <img
                    class="w-7 h-7 rounded-full"
                    src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png"
                    alt="Jese Leos avatar"
                  />
                  <span class="font-medium dark:text-white">
                    {" "}
                    {entrevista.autor}
                  </span>
                </div>
                <a
                  href={entrevista.link}
                  target="_blank"
                  class="inline-flex items-center font-medium text-primary-600 dark:text-primary-500 hover:underline"
                >
                  Saiba mais
                  <svg
                    class="ml-2 w-4 h-4"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </a>
              </div>
            </article>
          );
        })
      }
    </div>
  </div>
</section>
