---
let interviews = [
  {
    type: "Noticia",
    title: "O impacto da dengue na economia",
    description: "Epidemia de dengue em Minas tem impacto de R$ 5,7 bilhões na economia",
    data: "04/03/2024",
    link: "https://www.otempo.com.br/economia/epidemia-de-dengue-em-minas-tem-impacto-de-r-5-7-bilhoes-na-economia-1.3342052",

    imagem: {
      type: "img",
      src: "https://www.otempo.com.br/image/contentid/policy:1.3335797:1709564105/dengue-bh-jpeg.jpeg?f=3x2&w=1224",
    },
    autor: "O Tempo",
  },
  {
    type: "Noticia",
    title: 'Minas Gerais decretará estado de emergência de saúde por causa da dengue',
    description : 'Secretário de Saúde Fábio Baccheretti antecipou que o estado decretará emergência ainda nesta semana. Um apessoa morreu de dengue em Monte Belo',
    data: "23/01/2024",
    link: 'https://www.em.com.br/gerais/2024/01/6791431-minas-gerais-decretara-estado-de-emergencia-de-saude-por-conta-da-dengue.html',
    imagem: {
      type: "img",
      src: "https://midias.em.com.br/_midias/png/2024/01/22/1200x720/1_dengue_bh-34521500.png?20240123151020?20240123151020",
    },
    autor: "Estado de Minas",
  }

];
---

<section class="bg-white dark:bg-gray-900" id="entrevistas">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6  flex flex-col justify-between">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
      <h2
        class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Noticias
      </h2>
      <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
        Lista de noticias relacionadas a epidemias.
      </p>
    </div>
    <div class="grid gap-8 lg:grid-cols-2">
      {
        interviews.map((entrevista) => {
          return (
            <article class="p-6 flex flex-col justify-between bg-gray-50 rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
              <div class="flex justify-between items-center mb-5 text-gray-500">
                <span class="bg-secondary text-white text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded">
                  <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z" clip-rule="evenodd"></path>
                    <path d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"></path>
                  </svg>
                  {entrevista.type}
                </span>
                <span class="text-sm">{entrevista.data}</span>
              </div>
              <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                <a href={entrevista.link} target="_blank">
                  {entrevista.title}
                </a>
              </h2>
              <p class="mb-5 font-light text-gray-500 dark:text-gray-400">
                {entrevista.description}
              </p>

              
                <div class="flex justify-center items-center h-40 overflow-hidden">
               {entrevista.imagem.type === "iframe" ? (
                 <iframe
                   src={entrevista.imagem.src}
                   frameborder="0"
                   allowfullscreen
                   loading="lazy"
                 />
               ) : (
                 <img
                   class="scale-150 bg-primary "
                   src={entrevista.imagem.src}
                 />
               )}
             </div>
                 

              <div class="flex justify-between items-center">
                <div class="flex items-center space-x-4">
                  <img
                    class="w-7 h-7 rounded-full"
                    src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png"
                    alt="Jese Leos avatar"
                  />
                  <span class="font-medium dark:text-white">
                    {" "}
                    {entrevista.autor}
                  </span>
                </div>
                <a
                  href={entrevista.link}
                  target="_blank"
                  class="inline-flex items-center font-medium text-primary-600 dark:text-primary-500 hover:underline"
                >
                  Saiba mais
                  <svg
                    class="ml-2 w-4 h-4"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </a>
              </div>
            </article>
          );
        })
      }
    </div>
  </div>
</section>
