---
interface Props {
  title?: string;
}

const { title } = Astro.props;

import { supabase } from "../lib/supabase";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (!accessToken || !refreshToken) {
  return redirect("/signin");
}

const { data: data_auth, error } = await supabase.auth.setSession({
  refresh_token: refreshToken.value,
  access_token: accessToken.value,
});

if (error) {
  cookies.delete("sb-access-token", {
    path: "/",
  });
  cookies.delete("sb-refresh-token", {
    path: "/",
  });

  return redirect("/login");
}

// console.log(data_auth.user?.user_metadata.municipio);
const municipio = data_auth.user?.user_metadata.municipio;

const { data: info_municipio, error: error_municipio } = await supabase
  .from("municipios")
  .select("*")
  .eq("CodMun", municipio)
  .single();
---

<!doctype html>
<html lang="en" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "CrossvirusAI Autenticado"}</title>
  </head>
  <body>
    <div class="flex justify-center flex-col items-center">

      <nav
        class="sticky top-0 z-50 w-4/5 bg-white rounded-xl shadow-md overflow-hidden m-2"
      >
        <div class="p-8 flex items-center justify-between text-lg">
          <a href="/autenticado" class="hover:underline hover:bg-primary p-1 rounded">
            <span> Central Crossvirus de </span>
  
            <span class="uppercase tracking-wide text-secondary font-semibold">
              {info_municipio?.nome}
            </span>
          </a>
          <span class="mt-2 text-gray-500">Estado: {info_municipio?.UF}</span>
          <!-- <span class="mt-2 text-gray-500">Código: {info_municipio?.CodMun}</span> -->
          <span class="mt-2 text-gray-500">
            População Estimada 2021: {info_municipio?.pop_est}
          </span>
          <!-- <span class="mt-2 text-gray-500"
          >Faixa Pop: {info_municipio?.faixa_pop}</span
        > -->
          <!-- {info_municipio?.CodMun} -->
          <a
            href="/autenticado/edit_profile"
            class="flex gap-3 hover:underline hover:bg-secondary hover:text-white p-1 rounded"
          >
            {data_auth.user?.email}

            <svg class="h-7 w-7"xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="" height="" viewBox="0 0 50 50">
              <path d="M47.16,21.221l-5.91-0.966c-0.346-1.186-0.819-2.326-1.411-3.405l3.45-4.917c0.279-0.397,0.231-0.938-0.112-1.282 l-3.889-3.887c-0.347-0.346-0.893-0.391-1.291-0.104l-4.843,3.481c-1.089-0.602-2.239-1.08-3.432-1.427l-1.031-5.886 C28.607,2.35,28.192,2,27.706,2h-5.5c-0.49,0-0.908,0.355-0.987,0.839l-0.956,5.854c-1.2,0.345-2.352,0.818-3.437,1.412l-4.83-3.45 c-0.399-0.285-0.942-0.239-1.289,0.106L6.82,10.648c-0.343,0.343-0.391,0.883-0.112,1.28l3.399,4.863 c-0.605,1.095-1.087,2.254-1.438,3.46l-5.831,0.971c-0.482,0.08-0.836,0.498-0.836,0.986v5.5c0,0.485,0.348,0.9,0.825,0.985 l5.831,1.034c0.349,1.203,0.831,2.362,1.438,3.46l-3.441,4.813c-0.284,0.397-0.239,0.942,0.106,1.289l3.888,3.891 c0.343,0.343,0.884,0.391,1.281,0.112l4.87-3.411c1.093,0.601,2.248,1.078,3.445,1.424l0.976,5.861C21.3,47.647,21.717,48,22.206,48 h5.5c0.485,0,0.9-0.348,0.984-0.825l1.045-5.89c1.199-0.353,2.348-0.833,3.43-1.435l4.905,3.441 c0.398,0.281,0.938,0.232,1.282-0.111l3.888-3.891c0.346-0.347,0.391-0.894,0.104-1.292l-3.498-4.857 c0.593-1.08,1.064-2.222,1.407-3.408l5.918-1.039c0.479-0.084,0.827-0.5,0.827-0.985v-5.5C47.999,21.718,47.644,21.3,47.16,21.221z M25,32c-3.866,0-7-3.134-7-7c0-3.866,3.134-7,7-7s7,3.134,7,7C32,28.866,28.866,32,25,32z"></path>
          </svg>
          </a>
        </div>
      </nav>
    </div>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    /* background: #13151a; */
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
